<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="com.github.eclipsethemes.theme.adapters" name="Theme Adapter" schema="schema/com.github.eclipsethemes.theme.adapters.exsd"/>
	<extension
         point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.ui.preferencePages.Views"
            class="com.github.eclipsethemes.eclipse.preferences.EclipseThemesPreferencePage"
            id="com.github.eclipsethemes.eclipse.preferences.EclipseThemesPreferencePage"
            name="Eclipse Themes"></page>
	</extension>
	<extension
         point="org.eclipse.core.runtime.preferences">
		<initializer
            class="com.github.eclipsethemes.eclipse.preferences.PreferenceInitializer"></initializer>
	</extension>
	<extension
         point="com.github.eclipsethemes.theme.adapters">
		<adapter
            class="com.github.eclipsethemes.eclipse.adapters.editor.TextEditorThemeAdapter" plugin="org.eclipse.ui.editors"></adapter>
		<adapter
            class="com.github.eclipsethemes.eclipse.adapters.editor.GenericEditorThemeAdapter"
            plugin="org.eclipse.ui.genericeditor"></adapter>
		<adapter
            class="com.github.eclipsethemes.eclipse.adapters.ui.DebugConsoleThemeAdapter"
            plugin="org.eclipse.debug.ui"></adapter>
		<adapter
            class="com.github.eclipsethemes.eclipse.adapters.editor.CppEditorThemeAdapter"
            plugin="org.eclipse.cdt.ui"></adapter>
		<adapter
            class="com.github.eclipsethemes.eclipse.adapters.editor.JavaEditorThemeAdapter" plugin="org.eclipse.jdt.ui"></adapter>
		<adapter
            class="com.github.eclipsethemes.eclipse.adapters.editor.PluginEditorThemeAdapter" plugin="org.eclipse.pde.ui"></adapter>
		<adapter
            class="com.github.eclipsethemes.eclipse.adapters.editor.AntEditorThemeAdapter"
            plugin="org.eclipse.ant.ui"></adapter>

	</extension>
</plugin>
